<div class="container-fluid">
    <div id = "jumbotronBanner" class="jumbotron">
       <div id="jumbotronMeat" class="col-sm-6">
        <div class="row">
            <div id ="jumbotronImage" class="flexBox">
                <span><img src="/images/profile.png"></span>
            </div>
        </div>

        <div class="row">
            <div id="jumbotronDescHeader" class="flexBox">
                <h1 id="jumbotronTextHeader">Ashish Husain</h1>
               
            </div>
        </div>

        <div class="row">
            <div id="jumbotronDescImage" class="flexBox">
                <img src="/images/trophy.png">
            </div>
        </div>

        <div class="row">
            <div id="jumbotronDescFooter" class="flexBox">
                <h3 id="jumbotronTextFooter">Software Engineer - Web Developer - Solution Architect</h3>
            </div>
        </div>
       </div>
    </div>
</div>

