#brandLogo{
    font-family: fantasy;
}

#footNote>span{
    font-family: 'Dancing Script', cursive;;
}
#footNote{
    font-family: cursive;
}

#footerContents{
    font-size: 1.25em; 
}
#footer{
    background: #F8F8F8;
}

.navbar-default {
    background-color: #2C3E50;
    border-color: #E7E7E7;
}


#navigatorButtons>li>a{
    color: #E7E7E7;
}

#jumbotronBanner{
    background: #18BC9C;
}

#jumbotronMeat{
    /* background: rgb(188, 98, 24); */
    float: none;
    margin: 0 auto; 
    
}
#jumbotronImage, #jumbotronDescHeader,#jumbotronDescFooter,#jumbotronDescImage,#footerContainerRow2{
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}
#jumbotronTextFooter, #jumbotronTextHeader{
    color: #FFFFFF;
}
#jumbotronDescImageRibbon{
    width: auto;
    height: 50px;
    padding: 0;
}

#footer{
    padding-top: 20px;
    position: relative;
    bottom: 0;
    border-top: 1px solid #2C3E50;
}
.footerText{
    color: #dddbdb;
    
}

#footerHeader{
    text-decoration: underline;
}
#footerContainerRow1{
    margin-bottom: 20px;
}
.socialIcons{
    width: 40px;
    height: 40px;
    padding: 5px;
}
.socialIcons:hover{
     opacity: 0.5;
     
}
